---
title: Image Hover Library
description: Open source pure CSS hover effect library for images
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@zkreations">

  <link rel="shortcut icon" type="image/png" href="assets/favicon.png">

  <link href="assets/style.css" rel="stylesheet">

  <link as='style' href='https://cdn.jsdelivr.net/npm/@zkreations/imagehover@1/main.min.css' rel='preload'/>
  <link href='https://cdn.jsdelivr.net/npm/@zkreations/imagehover@1/main.min.css' rel='stylesheet'/>

  <script src="assets/main.js" defer></script>

</head>
<body>

  {% include header.html %}
  {% include effects.html %}
  {% include footer.html %}

</body>
</html>
