.#{$imghv-selector}-slide {
  &-up {
    &:not(:hover) figcaption {
      transform: translateY(-100%)
    }
  }

  &-right {
    &:not(:hover) figcaption {
      transform: translateX(100%)
    }
  }

  &-left {
    &:not(:hover) figcaption {
      transform: translateX(-100%)
    }
  }

  &-down {
    &:not(:hover) figcaption {
      transform: translateY(100%)
    }
  }
}