[class*=#{$imghv-selector}-zoom] {
  &:not(:hover) figcaption {
    opacity: 0;
  }
}

.#{$imghv-selector}-zoom {

  &:hover img {
    transform: scale(1.3)
  }

  &-turned {
    &:hover img {
      transform: scale(1.3) rotate(-10deg);
    }
  }

  &-blur {
    img {
      transition-property: transform, filter;
    }

    &:hover img {
      filter: blur(5px);
      transform: scale(1.3);
    }
  }

  &-double {
    figcaption {
      transition-delay: ($imghv-duration * 0.2);
    }
  
    &:hover {
      img {
        transform: scale(1.3);
      }
    }

    &:not(:hover) figcaption {
      transform: scale(.2);
    }
  }
}